[pattern]
slug = "{slug}"
title = "{title}"
dedication = ""
quote = "Your quote here"
version = "0.1.0"
stitch = "sc"
size_in = [54.0, 46.0]
hook = "5 mm (US H-8)"
yarn_weight = "worsted (#4)"
first_row_color = "Y"
author = ""
license = "CC-BY-NC-SA-4.0"

[gauge]
sc = [3.5, 4.0]
hdc = [3.25, 2.5]

[[colors]]
code = "C"
name = "Cream"
hex = "#F2E8D5"
yarn = "Aran / off-white"
use = "panel"

[[colors]]
code = "K"
name = "Charcoal"
hex = "#2B2F33"
yarn = "Charcoal"
use = "lettering"

[[colors]]
code = "G"
name = "Deep Green"
hex = "#1E4D3A"
yarn = "Hunter green"
use = "border ground"

[[colors]]
code = "Y"
name = "Gold"
hex = "#D9A21B"
yarn = "Gold"
use = "border"

[notes]
setup = ["Foundation: chain W + 1 in Gold (Y)."]
colors = []

# [publish]
# charts = [["final", "sc"], ["final", "hdc"]]
#
# [[instructions]]
# title = "Blocking"
# text = "Wet block to size."
